.card-wrapper {
    margin: 20px;
}

.card {
    width: 27rem;
    color: black;
    /*border: 1px solid black;*/
    /*border-radius: 4px;*/
}

.card-title {
    font-size: 2rem;
}


/*mobile 화면 고려*/
@media (max-width: 480px) {
    .card {
        width: 100%;
        color: black;
    }

    .card-title {
        font-size: 2rem;
    }
}
